<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <stackTrace>stacktrace</stackTrace>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <logger name="org.keycloak.events" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.keycloak.services" level="debug" additivity="false">
            <appender-ref ref="Console" />
        </logger>

</configuration>